# Python: Arquivos compilados e cache
__pycache__/
*.py[cod]
*$py.class

# Django: Banco de dados local (SQLite)
# Importante: se você não quer enviar seus dados de teste para o Git
#db.sqlite3

# Django: Pasta de arquivos de mídia (uploads de usuários)
media/

# Ambientes Virtuais
.venv/

# Configurações de IDE
.vscode/

# Arquivo de variáveis de ambiente (segredos)
.env

